<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>
    <section>
        <div class="grid grid-cols-10">
            <div class="col-span-2">
                <!-- side bar  -->
                <div class="w-full bg-white">
                    <!-- brand  -->
                    <div class="">
                       Admin 
                       <span>Dashboard</span>
                    </div>

                </div>

            </div>
            <div>
               <div>
                   <div class="w-10 h-10 rounded bg-stone-500">
                      
                   </div>
                  <form action="" method="post">
                    <input type="search" placeholder="Search...">

                  </form>
               </div>
            </div>

        </div>
    </section>
</body>

</html>