<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>
    <section>
        <div class="grid grid-cols-10">
            <div class="col-span-2">
                <!-- side bar  -->
                <div class="w-full bg-white">
                    <!-- brand  -->
                    <div class="">
                        Admin
                        <span>Dashboard</span>
                    </div>

                </div>

            </div>
            <div class="col-span-8 flex justify-between items-center">
                <div class="flex justify-center items-center">
                    <div class="w-10 h-10 flex justify-center items-center flex-col rounded-full bg-gray-200">
                        <div>
                            <div class="w-4 h-1 border border-gray-500 rounded mb-[2px]"></div>
                            <div class="w-5 h-1 border border-gray-500 rounded mb-[2px]"></div>
                            <div class="w-3 h-1 border border-gray-500 rounded "></div>
                        </div>
                    </div>
                    <form action="" method="post">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                            </svg>

                            <input type="search" class="w-52 bg-gray-200 pl-10 py-2" placeholder="Search...">
                        </div>

                    </form>
                </div>

                <div>
                    <div class="w-20 h-10 bg-stone-500">
                        <!-- setting -->
                    </div>
                    <div>

                    </div>
                </div>
            </div>

        </div>
    </section>
</body>

</html>